*{
    box-sizing: border-box;
    padding: 0;
}
h1 {
    text-align: center;
    font-size: 175%;
}
.row{
    width: 100%;
    padding: 33px;
}
.col-large{
    float: left;
    width: 100%;
    border: 2px black solid;
    margin: 1%;
}
.col-large-sub{
    float: right;
    width: 31%;
    border: 2px black solid;
    padding: 1%;
    margin: -35px;
    text-align: center;
}
p{
    padding: 20px 5px 5px 10px;
}